<html>
<head>
<title>Jibe Flickr Photos</title>
<style>

.photo-container{
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 4px;
  width: 200px;
  min-height: 300px;
  display: inline-block;
  float: left;
  background: #fff;
  border-radius: 8px;
}

.photo-container .rating{
  display: block;
  padding: 4px;
  font-size: 14px;
  color: #ccc;
}

.photo-container img{
  max-width: 100%;
  height: auto;
} 

</style>
</head>
<body>
<h1><span style="color: #fcc">DC</span>Tech</h1>
	{% if photos %}
		{% for photo in photos %}
		<div>
			<ul>
				<li class="photo-container">
				  <div>
				    <img src="{{ photo.url_m }}" />
				  </div>
				  <div class="views">
				    {{ photo.views }} views
				  </div>
				</li>
			</ul>
		</div>
		{% endfor %}
	{% endif %}
</body>
</html>
